.container {
  padding: 0 0;
  position: relative;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dest_line {
  width: 90%;
  height: 1px;
  background: grey;
  margin-top: 2.188rem;
}

.title1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.125em;
  padding-top: 2rem;
  letter-spacing: 0.125rem;
  color: #c0c0c0;
  text-transform: uppercase;
}
.title2 {
  font-family: "Bellefair", serif;
  font-size: 3.5625em;
  padding-top: 1.75rem;
}
.description {
  font-family: "Barlow", sans-serif;
  font-size: 0.9375em;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.188rem;
  line-height: 1.6;
  width: 85%;
}

/*Apply Designs Tablet*/
@media only screen and (min-width: 768px) {
  .description {
    width: 50%;
  }

  .title2 {
    font-size: 7em;
  }
}
