.dest_menu {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}
.dest_menu_item {
  padding: 15px;
}

.big_font {
  font-family: "Bellefair", sans-serif;
  font-size: 2.625em;
  text-transform: uppercase;
}

.small_font {
  font-family: "Bellefair", sans-serif;
  font-size: 1.625em;
  padding-top: 1rem;
  text-transform: uppercase;
}

.small_font:last-child {
  padding-bottom: 3rem;
}

.img {
  padding-top: 2.188rem;
}

.applyBgSwitchMobile {
  visibility: visible;
}

.applyBgSwitchTablet {
  visibility: hidden;
  position: absolute;
}

.description {
  font-family: "Barlow", sans-serif;
  font-size: 0.9375em;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.188rem;
  line-height: 1.6;
  width: 85%;
}

/*This is the trick to select the img properties from nextjt work around*/
@media only screen and (min-width: 768px) {
  .applyBgSwitchMobile {
    visibility: hidden;
    position: absolute;
  }

  .applyBgSwitchTablet {
    visibility: visible;
    position: relative;
  }

  .dest_menu {
    padding-top: 2rem;
  }

  .big_font {
    font-size: 4em;
    padding-top: 1rem;
  }

  .description {
    font-family: "Barlow", sans-serif;
    font-size: 0.9375em;
    text-align: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 2.188rem;
    line-height: 1.6;
    width: 70%;
  }

  .details_containerMain {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .details_containerA {
    width: 50%;
    text-align: center;
  }

  .dest_menu_item {
    font-size: large;
  }
}
