.backgroundImage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  background-color: red;

  height: auto;
  width: auto;
  overflow: hidden;
  z-index: -1;
}
.title1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.125em;
  padding-top: 2.813rem;
  letter-spacing: 0.125rem;
}
.title2 {
  font-family: "Bellefair", serif;
  font-size: 3.5625em;
  padding-top: 1.75rem;
}

.img {
  padding-top: 2.188rem;
}

.description {
  font-family: "Barlow", sans-serif;
  font-size: 0.9375em;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2.188;
  line-height: 1.6;
}
.explorebtn {
  font-family: "Bellefair", serif;
  background: white;
  color: black;
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.813rem;
  letter-spacing: 0.125rem;
}

.dest_menu {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: center;
  color: white;
}

.dest_menu_item {
  padding: 15px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
