.home__explorebtn {
  font-family: "Bellefair", serif;
  background: white;
  color: black;
  border-radius: 50%;
  width: 9.375rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.813rem;
  letter-spacing: 0.125rem;
  margin-bottom: 2.813rem;
}
/*This is the trick to select the img properties from nextjt work around*/
.applyBgSwitchMobile > div {
  visibility: false;
}

.applyBgSwitchTablet > div {
  visibility: false;
}
