.imgWrapper {
  width: 100%;
  height: auto;
  padding-top: 2rem;
}

.line {
  width: 90%;
  height: 1px;
  background: grey;
  margin-top: 0rem;
}

.small_font1 {
  font-family: "Bellefair", sans-serif;
  font-size: 1em;
  padding-top: 1.5rem;
  text-transform: uppercase;
}

.small_font2 {
  font-family: "Bellefair", sans-serif;
  font-size: 1.625em;
  padding-top: 0.5rem;
  text-transform: uppercase;
}

.dest_menu {
  font-family: "Barlow Condensed", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 45%;
}

.dest_menu_item {
  outline: 1px grey solid;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  font-family: "Bellefair", sans-serif;
}

.dest_menu_item:first-child {
  outline: 1px white solid;
  background: white;
  color: black;
  font-family: "Bellefair", sans-serif;
}
